<mat-nav-list class="sidenav-list">
    <h1 class="center font-3 fs-6"><a routerLink="/">Frodo</a></h1>

    @for (item of navigation; track item.family) {
    <a mat-list-item
       [routerLink]="item.link">
        <span class="transition left"
              [class.active]="route().family === item.family">{{
            item.title
            }}</span>
    </a>
    }

    @for (type of postTypes(); track type._id) {
    <a mat-list-item
       [routerLink]="['/posts', type.type]">
        <span class="transition left"
              [class.active]="route().family === 'posts' && route().type === type.type">{{ type.pluralTitle }}</span>
    </a>
    }

    @if (userService.isLogged()) {
    <a mat-list-item
       routerLink="/account"
       class="sidenav-user">
        <span>{{ userService.user().username }}</span>
    </a>
    }

    <a mat-list-item
       (click)="logout()"
       [class.busy]="logoutStatus()">
        <span>Logout</span>
    </a>
</mat-nav-list>