<div class="picker">
    <div class="picker__head">
        <mat-form-field class="picker__search" subscriptSizing="dynamic">
            <mat-label>Search files</mat-label>
            <input matInput [(ngModel)]="search" />
        </mat-form-field>
        <button mat-icon-button mat-dialog-close aria-label="close">
            <mat-icon svgIcon="closeB"></mat-icon>
        </button>
    </div>

    <div class="picker__grid">
        @for (file of filtered(); track file._id) {
            <button type="button" class="picker__item" (click)="select(file)">
                @if (file.type !== 'application/pdf') {
                    <img [src]="file.src" [alt]="file.filename" />
                } @else {
                    <img src="images/pdf-placeholder.png" [alt]="file.filename" />
                }
                <span class="picker__name">{{ file.title || file.filename }}</span>
            </button>
        }
    </div>
</div>
