.add-component {
    background: #fff;
    padding: 8px;
    margin-bottom: 8px;
    box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.12);
}
.add-component__head {
    display: flex;
    align-items: center;
    gap: 8px;
}
.full-width {
    flex: 1 1 auto;
}
.rotate {
    transform: rotate(180deg);
}
