.fade {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  opacity: 1;
}
.fade.ng-enter,
.fade.ng-leave {
  transition: opacity 0.3s ease;
}
.fade.ng-enter {
  opacity: 0;
}
.fade.ng-enter-active {
  opacity: 1;
}
.fade.ng-leave {
  opacity: 1;
}
.fade.ng-leave-active {
  opacity: 0;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { transform: scale(0.0) }
  50% { transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  } 50% {
      transform: scale(1.0);
    }
}

.transition {
  transition: all .5s ease;
}

.transition-2 {
  transition: all .2s ease;
}

.down {
  transform: scale(0);
}

.up {
  transform: scale(1) !important;
}

.slide-up {
  max-height: 1200px;
  transition: all .5s ease;
}

.slide-up.ng-hide {
  max-height: 0;
}

.rotate {
  transform: rotateX(180deg);
}