<div layout="column"
     class="m-b-2 bg-col-w p-a-2 box-shadow-inset">
    <div layout="row"
         layout-align="space-between center"
         flex="100"
         hide-gt-xs
         class="m-b-2">
        <md-button class="md-primary md-raised m-a-0 m-r-2"
                   aria-label="toggle component"
                   ng-click="vm.open = !vm.open">
            <md-icon md-svg-icon="arrow-down"
                     class="transition"
                     ng-class="{'rotate' : vm.open}"></md-icon>
        </md-button>
        <md-button class="md-raised m-a-0 m-r-2 md-warn"
                   ng-click="vm.removeFunction(vm.order)"
                   aria-label="delete component">Delete</md-button>
    </div>
    <div layout="row"
         flex="100"
         layout-align="start start">
        <div layout="column">
            <md-button class="md-primary md-raised m-a-0 m-r-2"
                       hide-xs
                       aria-label="toggle component"
                       ng-click="vm.open = !vm.open">
                <md-icon md-svg-icon="arrow-down"
                         class="transition"
                         ng-class="{'rotate' : vm.open}"></md-icon>
            </md-button>
        </div>
        <md-input-container flex="grow">
            <label>Type</label>
            <md-select ng-change="vm.onComponentSelect()"
                       ng-model="vm.currentComponent">
                <md-option ng-repeat="item in ::vm.components track by item.id"
                           ng-value="item">
                    <span ng-bind="::item.title"></span>
                </md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex="100"
         layout="row"
         layout-align="start start"
         ng-hide="!vm.open">
        <md-button class="md-warn md-raised m-a-0 m-r-2"
                   hide-xs
                   ng-click="vm.removeFunction(vm.order)"
                   aria-label="delete component">Delete</md-button>
        <div flex="grow"
             layout="column">
            <field model="vm.model.data"
                   field="field"
                   ng-repeat="field in vm.currentComponent.fields track by field.id"
                   ng-if="vm.currentComponent"></field>
        </div>
    </div>
</div>
