<div layout="row"
     layout-align="start start"
     class="m-b-2 bg-col-w p-a-2 box-shadow-inset">
    <md-button class="md-warn md-raised m-a-0 m-r-2"
               hide-xs
               ng-click="vm.remove()"
               aria-label="delete component">Delete</md-button>
    <div flex="grow"
         layout="column">
        <div layout="row">
            <md-input-container flex="grow">
                <label>Type</label>
                <md-select ng-change="vm.onComponentSelect()"
                           ng-model="vm.currentComponent">
                    <md-option ng-repeat="item in ::vm.components track by item.id"
                               ng-value="item">
                        <span ng-bind="::item.title"></span>
                    </md-option>
                </md-select>
            </md-input-container>
            <div hide-gt-xs>
                <md-button class="md-fab md-warn"
                           ng-click="vm.remove()"
                           aria-label="delete component">Delete</md-button>
            </div>
        </div>
        <field model="vm.model.data"
               field="field"
               ng-repeat="field in vm.currentComponent.fields track by field.id"
               ng-if="vm.currentComponent"></field>
    </div>
</div>
