<md-list>
    <h1 class="center font-3 fs-6">
        <a ng-href="/">Frodo</a>
    </h1>
    <md-list-item ng-repeat="item in ::vm.navigation track by $index">
        <md-button flex="100"
                   class="md-no-focus"
                   layout="row"
                   layout-align="left"
                   ng-click="vm.redirect(item.family)"
                   aria-label="{{::item.title + ' button'}}">
            <span ng-bind="::item.title"
                  class="transition left"
                  ng-class="{'fs-3 col-7' : vm.currentFamily === item.family}"></span>
        </md-button>
    </md-list-item>
    <md-list-item ng-repeat="type in vm.postTypes track by type._id">
        <md-button flex="100"
                   layout-align="left"
                   layout="row"
                   class="md-no-focus"
                   aria-label="{{::type.pluralTitle + ' button'}}"
                   ng-click="vm.redirect('posts', {type: type.type})">
            <span ng-bind="type.pluralTitle"
                  class="transition left"
                  ng-class="{'fs-3 col-7' : vm.currentFamily === 'posts' + type.type}"></span>
        </md-button>
    </md-list-item>
    <md-list-item class="m-t-4"
                  ng-if="vm.userService.isLogged()">
        <md-button flex="100"
                   aria-label="account button"
                   layout-align="left"
                   layout="row"
                   ng-click="vm.redirect('account')"
                   class="md-no-focus">
            <span ng-bind="vm.userService.getUser().username"></span>
        </md-button>
    </md-list-item>
    <md-list-item>
        <md-button ng-click="vm.logout()"
                   flex="100"
                   aria-label="logout button"
                   layout-align="left"
                   layout="row"
                   class="md-no-focus"
                   ng-class="{'busy' : vm.logoutStatus}">
            <span>Logout</span>
        </md-button>
    </md-list-item>
</md-list>
